<h2 class="text-center mt-5 mb-3">Choisi la ligne verte</h2>

<div class="accordion" id="accordionExample">
    {% for key, journey in journeys %}
        <div class="card m-2">

            <div class="card-header" id="heading{{ key }}">
                <button class="btn btn-link w-100 text-decoration-none text-success" type="button"
                        data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false"
                        aria-controls="collapse{{ key }}">
                    <p>{{ 1000 - (journey.co2_emission.value|round() ) }} pts d'expérience</p>
                    <div class="d-flex justify-content-between">
                        <p>CO2 : {{ journey.co2_emission.value|round() }}</p>
                        <p>{{ (journey.durations.total / 60)|round() }} min</p>

                        {% if journey.fare.total.value is defined %}
                            <p>{{ journey.fare.total.value /100 }} €</p>
                        {% else %}
                            <p>Gratuit</p>
                        {% endif %}
                    </div>
                </button>

            </div>

            <a href="{{ path('gain', {'points': 1000 - journey.co2_emission.value|round() }) }}">
                <button type="submit" class="btn btn-success">Choisir</button>

            </a>

            <div id="collapse{{ key }}" class="collapse" aria-labelledby="heading{{ key }}"
                 data-parent="#accordionExample">

                <div class="card-body">

                    {% for section in journey.sections %}
                        {% if section.type != 'waiting' %}
                            <div class="d-flex justify-content-between">
                                <p>{{ section.departure_date_time|date('H:i') }}</p>
                                <p>{{ section.from.name }}</p>
                            </div>


                            <div class="d-flex justify-content-between">


                                {% if section.display_informations is defined %}
                                    {% if section.display_informations.physical_mode == 'Bus' %}
                                        <i class="fas fa-2x fa-bus"></i>
                                        <p>Physical mode : {{ section.display_informations.physical_mode }}</p>
                                    {% elseif section.display_informations.physical_mode == 'Tramway' %}
                                        <i class="fas fa-2x fa-subway"></i>
                                    {% endif %}
                                    <p>Ligne : {{ section.display_informations.code }}</p>
                                {% endif %}

                                {% if section.mode is defined and section.mode == 'walking' %}
                                    <i class="fas fa-2x fa-walking"></i>
                                {% endif %}

                                {% if section.mode is defined and section.mode == 'bike' %}
                                    <i class="fas fa-2x fa-biking"></i>
                                    {# <img src="/assets/image/BikeSharingService.svg" alt="">#}
                                {% endif %}

                                {% if section.type is defined %}
                                    {% if section.type == 'bss_rent' %}
                                        <p>Location d'un Vélo+</p>
                                    {% elseif section.type == 'bss_put_back' %}
                                        <p>Déposer son Vélo+</p>
                                    {% endif %}
                                {% endif %}

                                <p>{{ (section.duration/ 60)|round() }} min</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>{{ section.arrival_date_time|date('H:i') }}</p>
                                <p>{{ section.to.name }}</p>
                            </div>
                            <hr>

                        {% endif %}

                    {% endfor %}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
