<h2 class="text-center">Choisi ton green voyage</h2>

<div class="accordion" id="accordionExample">
    {% for key, journey in journeys %}
        <div class="card m-2">

            <div class="card-header" id="heading{{ key }}">
                <button class="btn btn-link w-100 text-decoration-none text-success" type="button" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapse{{ key }}">
                    <p>1500 pts d'expérience</p>
                    <div class="d-flex justify-content-between">
                        <p>CO2 : {{ journey.co2_emission.value|round() }}</p>
                        <p>{{ (journey.durations.total / 60)|round() }} min</p>

                        {% if journey.fare.total.value is defined %}
                            <p>{{ journey.fare.total.value /100 }} €</p>
                        {% else %}
                            <p>Gratuit</p>
                        {% endif %}
                    </div>
                </button>

            </div>

            <div id="collapse{{ key }}" class="collapse" aria-labelledby="heading{{ key }}" data-parent="#accordionExample">

                <div class="card-body">
                    {% for section in journey.sections %}
                        <p class="text-primary">Type: {{ section.type }}</p>
                        <p>Temps : {{ (section.duration/ 60)|round() }} min</p>
                        {% if section.mode is defined %}
                            <p>Mode : {{ section.mode }}</p>
                        {% endif %}
                        {% if section.type != 'waiting' %}

                            <p>Départ : {{ section.from.name }}</p>
                            <p>Arrivée : {{ section.to.name }}</p>

                            {% if section.display_informations is defined %}
                                <p>Commercial mode : {{ section.display_informations.commercial_mode }}</p>
                                <p>Physical mode : {{ section.display_informations.physical_mode }}</p>
                                <p>Ligne : {{ section.display_informations.code }}</p>
                            {% endif %}

                            {% if section.transfer_type is defined %}
                                <p>Transfer type : {{ section.transfer_type }}</p>
                            {% endif %}

                            <p>{{ section.departure_date_time|date('H:i') }}
                                - {{ section.arrival_date_time|date('H:i') }}</p>
                            <p></p>

                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
